{% extends "base.html" %}

{% block conteudo %}

<div class="conteudo-principal">
    <h2> Cadastro Professores </h2>
    <div class="conteudo-formulario">
        <form method="post">
            <div class="campos-formulario">
            <label for="nome_professor"> Nome Completo: </label>
            <input type="text" name="nome_professor" id="nome_professor" required>
            </div>
            
            <div class="campos-formulario">
            <label for="cpf_professor"> CPF: </label>
            <input type="text" name="cpf_professor" id="cpf_professor" required>
            </div>
            
            <div class="campos-formulario">
            <label for="telefone_professor"> Telefone: </label>
            <input type="text" name="telefone_professor" id="telefone_professor">
            </div>

            <div class="campos-formulario">
            <label for="email_professor"> E-mail: </label>
            <input type="email" name="email_professor" id="email_professor">
            </div>

            <div class="campos-formulario">
            <label for="formacao_professor"> Formação: </label>
            <input type="text" name="formacao_professor" id="formacao_professor">
            </div>

            <div class="campos-formulario">
            <label for="especialidade_professor"> Especialidade: </label>
            <input type="text" name="especialidade_professor" id="especialidade_professor">
            </div>

            <button type="submit"> Cadastrar </button>
        </form>
        
        <a href="/listar/professores" class="botao-primario"> Voltar </a>
    </div>
</div>

{% endblock %}