{% extends "base.html" %}

{% block conteudo %}

    <div class="conteudo-principal">
        <h2> Menu Principal </h2>

        <div class="menu">
            <a href="/listar/alunos" class="botao-primario"> Área Alunos </a>

            <a href="/listar/professores" class="botao-primario"> Área Professores </a>

            <a href="/listar/cursos" class="botao-primario"> Área Cursos </a>

            <a href="/listar/turmas" class="botao-primario"> Área Turmas </a>
        </div>
    </div>

{% endblock %}