{% extends "base.html" %}

{% block conteudo %}
<div class="conteudo-principal">
    <h2> Lista Alunos </h2>

    <div class="conteudo-tabela">
        <a href="/cadastro/aluno" class="botao-primario"> Adicionar Aluno </a>

        <table>
            <tr>
                <th>
                    Matricula
                </th>

                <th>
                    Nome
                </th>

                <th>
                    CPF
                </th>

                <th>
                    Telefone
                </th>

                <th>
                    E-mail
                </th>
            </tr>
            
            <!-- conteudo(corpo) da tabela -->
            {% if alunos %}
                {% for aluno in alunos %}
                    <tr>
                        <td>
                            {{ aluno[0] }}
                        </td>
                        <td>
                            {{ aluno[1] }}
                        </td>
                        <td>
                            {{ aluno[2] }}
                        </td>
                        <td>
                            {{ aluno[3] }}
                        </td>
                        <td>
                            {{ aluno[4] }}
                        </td>
                        <td><a href="/editar/aluno/{{ aluno[0] }}" class="botao-primario"> Editar </a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="6"> Sem alunos cadastrados. </td>
            {% endif %}
            
        </table>
        <a href="/" class="botao-primario"> Voltar </a>
    </div>
</div>
{% endblock %}